<div class="questions_header">
  <div class="search float-left">
      <span class="fa fa-search"></span>
      <input type="text" name="search" #query (keyup.enter)="onSubmit(query)" placeholder="Search for existing questions..">
  </div>
  <div class="sort float-right">
    <!-- <p class="sort_text">Sort By:</p> -->
    <select type="button" class="btn btn-outline-danger button btn-sm"[(value)]=valueSelected (change)="onSelect($event.target.value)"> 
      <option class="dropdown-item" value="date">Recent</option>
      <option class="dropdown-item" value="views">Most Viewed</option>
    </select>
  </div>
</div>
<hr>
<section id="questionsData">
<div class="questions_list" *ngFor="let data of datasource">
  <div class="questions_list_item">
    <div class="list_item">
      <div class="profileImage">
        <img src="../../assets/user.png">
      </div>
      <div class="userPostDetail">
        <p class="profileName">{{data.username}}</p>
        <p class="timePosted">{{data.date}}</p>
      </div>
    </div>
    <div class="viewsCount float-right">
      {{data.views}}
    </div>
    <div class="questionDetail">{{data.question}}</div>
    <hr>
  </div>
</div>
<div class="loadmore">
  <button type="button" class="btn btn-outline-danger loadMoreButton btn-sm">Load More...</button>
</div>
</section>