<div class="main">
  <nav class="imagebg">
    <ul class="nav navbar-nav navbar-right float-right">
      <li class="banner_text" (click)="openLoginDialog()">LogIn/SignUp</li>
      <li></li>
    </ul>
    <div class="main_banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="banner_content">
              <img src="../../assets/WhiteOrange_Vertical.png" class="logo">
            </div>
            <div class="banner_text">
              Get
              <span class="highlight">rep points</span> for answering other people's questions.
              <br> Your rep is written onto the blockchain along with your certificate.
            </div>
            <div class="search">
              <span class="fa fa-search"></span>
              <input placeholder="What's your question?"  #query (keyup.enter)="onSubmit(query)">
              <button type="submit" (click)="onSubmit(query)">Ask</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>